@font-face {
  font-family: cousine-indeed;
  src: url(./Cousine-Regular-Latin.ttf);
}

html {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0px;
  padding: 0px;
  color: white;
}

.console {
  /* hide until js has a chance to set the size */
  display: none;
  xborder: solid 1px yellow;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
  font-family: cousine-indeed, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.console-cursor {
  display: none;
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #ff0;
  z-index: 1;
}
